.div{
    padding: 0px 20px;
    background-color: white;
    margin-bottom: 0px;
    margin-top: 0px;
    border: 5px solid rgb(231, 231, 231);
    border-bottom-width: 0px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

@media (max-width: 767px) {
    .div{
        flex-wrap:wrap;
    }

    .div__button{
        flex-basis:100%;
        margin:5px;
    }
    .div__buttons{
        display:flex;
        flex-wrap:wrap;
    }
}

.div__h2 {
    font-weight: 700;
}

.div__button{
    text-decoration:none;
    color:teal;
    margin-left:25px;
    border: none;
    background-color:white;
    cursor:pointer;
}

.div__button:disabled{
    color:#ccc;
    cursor:default;
}