.section{
    background-color:white;
    border:1px solid rgb(231, 231, 231);
    padding:15px;
}

.section__h2{
    padding:5px;
}

.section__ul{
    list-style: none;
}

.section__li{
    width:300px;
    
}

.section__li--done{
    text-decoration:line-through;
}

.section__button--delete{
    margin-left:20px;
}

.section__button--toggleDone{
    margin-right:20px;
}